* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100%;
}

.reveal .slides section {
  height: 100%;
  padding: 0;
  margin: 0;
}

.reveal aside.notes {
  display: none;
}
